<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FORMS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% if aftersubmit %}
    {{ aftersubmit }}
    {% endif %}
 <form method="POST">       <!form action is redirect to another page? method is post get ....  post to some custom page in action???>
    {{form}}
    {% csrf_token %}
    {% if beforesubmit  %}
    <input type="submit">
    {% endif %}
</form>
</body>
</html>