<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='main.js'></script>
</head>
<body>    
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a  href="{% url 'cbvapp:list' %}">LIST</a></li>
            <li><a href="{% url 'admin:index' %}"> ADMIN</a></li>
            <li><a href="{% url 'cbvapp:create' %}">Create</a></li>
        </ul>
      </div>
    </nav>



    <div class="jumbotron">
        {% block blockname %}

        {% endblock %}
    </div>
    
</body>
</html>